body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(185, 185, 185);
}
#bloco-principal{
    border: solid black 1px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 5% 5%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);   
   
}
img{
    width: 200px;
    height: 200px;
}
p{
    font-size: 30px;
    font-weight: bolder;
}