body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Montserrat', sans-serif;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    border: solid black 1px;
    background-color: green;
    color: aliceblue;
    width: 150px;
    height: 40px;
}
