body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(185, 185, 185);
    font-weight: bolder;
}
.data{
    width: 40px;
}
#bloco-principal{
    border: solid black 1px;
    width: 700px;
    height: 300px;
    display: flex;
    align-items:flex-start ;
    padding: 10% 10%;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(122, 196, 196);
}
input{
    text-decoration: none;
    border: double black 2px;
}
p{
    font-size: 12px;
    margin-left: 20px;
}
