body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
label{
    margin: 0px 10px;
    margin-bottom: 10px;
}
#botao{
    height: 30px;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}
#div-externa {
    width: 600px;
    height: 300px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#div-interna {
    display: flex;
    flex-direction: row;
}

input {
    display: flex;
    border-radius: 0%;
    margin: 0px 10px;
}

.itens {
    display: flex;
    flex-direction: column;
}
p{
    margin-top: 40px;
    font-size: 20px;
}